[2022-10-09 14:49] rachelnabors commented on #4666
I end up in the Vue page when I attempt to repro through your steps.

An alternative would be to link to Amplify UI's site directly, since these
pages are legacy.

[2022-10-10 06:51] sebsto opened #4678 "[iOS] Missing CLI documentation for Signin With Apple"
**Describe the bug**
Social Web SignIn doc, Signin With Apple tab, is lacking details about CLI parameters format
https://docs.amplify.aws/lib/auth/social/q/platform/ios/#launch-social-web-ui-sign-in

The doc above does not show CLI 10.x question / response and give no clue about what parameter format is expected for the private key

**To Reproduce**
- amplify add auth, with Social Provider
- sele

[2022-10-10 07:26] sebsto commented on #4678
What worked for me was to enter the p8 file content on one single line

Example
`-----BEGIN PRIVATE KEY-----MIGT....ogty6P-----END PRIVATE KEY-----% `

<img width="1450" alt="2022-10-10_09-13-22" src="https://user-images.githubusercontent.com/401798/194816433-91482da5-c6b1-43f0-9d6c-23c7b6426dd0.png">

[2022-10-10 12:44] salihgueler commented on #4502
Hey @alistairholmes the example there is using the Authenticator UI libraries, are you planning to add that as well?

[2022-10-10 15:48] siegerts commented on #4678
Thanks for opening @sebsto! Is this something that you'd like to open a PR for? I can coordinate with the CLI team for review.

[2022-10-10 18:08] sebsto commented on #4678
I don't have bandwidth before re:Invent

[2022-10-10 20:53] sebasVarela opened #4682 "[Feedback]FEEDBACK_TITLE_HERE"
**Page**: [`/cli`](https://docs.amplify.aws/cli)

**Feedback**:

Could you include documentation in other languages?

[2022-10-11 17:41] timngyn opened #4687 "Clicking on table of contents heading doesn't scroll to the heading correctly"
**Describe the bug**
Clicking on a heading in the table of contents does not correctly scroll the page to the heading. It is cut off

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.amplify.aws/lib/analytics/getting-started/q/platform/js/
2. Click on any of the headings in the table of contents
3. Verify that the page scrolls but the header is underneath the sticky nav

**E

[2022-10-11 19:50] #4687 closed

[2022-10-11 22:10] rachelnabors commented on #3420
Thanks for this feedback!

We revised and updated the [authorization docs](https://docs.amplify.aws/lib/auth/social/q/platform/js/) to address these issues. Please have a look, and let us know what we can do better!

[2022-10-11 22:10] #3420 closed

[2022-10-12 00:16] rachelnabors commented on #4616
We updated the Angular getting started guide with your feedback. Thank you very much!

[2022-10-12 00:16] #4616 closed

[2022-10-12 00:18] rachelnabors commented on #4551
Thanks so much for this super useful feedback! We updated the Angular getting started guide accordingly!

[2022-10-12 00:18] #4551 closed

[2022-10-12 05:57] rachelnabors opened #4690 "Replace "Amplify app" with "Amplify project""
We realized that saying "Amplify app" was confusing—Amplify is not a platform like Android or iOS! "Amplify project" makes more sense.

Replace all instances of "Amplify app" in the docs with "Amplify project."

[2022-10-12 06:01] rachelnabors opened #4691 "Replace "Amplify framework" with "Amplify <Product>""
Currently we refer to an "Amplify framework" throughout our docs. This is a holdover from an earlier day. Amplify is now more of a suite of dev tools: Amplify Libraries, Amplify CLI, Amplify Studio, Amplify Hosting, and Amplify UI.

Replace all instances of "Amplify framework" with "Amplify <Libraries/CLI/Studio/Hosting/UI>" or just refer to it as "Amplify" if the product is ambiguous.

[2022-10-12 06:05] rachelnabors opened #4692 "Replace "we" with "you""
Replace "we" with "you" as below throughout the docs. Where possible, omit pronouns entirely.

# “We” are the authors; “you” is the reader

When writing, use “you” to refer to the reader, use “we” to refer to the team writing docs and building Amplify. Using “we” is popular in technical blogs and YouTube content where the author is individually taking the person on the other side of the screen on

[2022-10-12 06:07] NizarAhamed97 commented on #4692
Can i work on this?

[2022-10-12 06:07] rachelnabors opened #4693 "Remove emojis from the docs"
Emojis are a bit too personal for formal documentation. Find them and remove them!

[2022-10-12 06:10] kaustav202 commented on #4693
can I take this up @rachelnabors

[2022-10-12 06:16] Pro-Coder04 commented on #4690
I would like to work on this issue.
Could you tell me where do you want the changes to be implemented?

[2022-10-12 06:33] rachelnabors commented on #4667
Or even finding a new way to highlight code in Markdown would be a good solution!

[2022-10-12 06:39] rachelnabors commented on #4653
I'd love something even more advanced like https://stackblitz.com/codeflow—see the changes you're making right there as you make them!

But there're a few issues to discuss:

* How likely are people to understand that they can press "." on a site to get to an editor? Is this likely to confuse them?
* The pages are majorly transcluded by platform in most places. Do we need to focus on bringing back

[2022-10-12 06:42] rachelnabors commented on #4629
You might be looking for https://ui.docs.amplify.aws/react/components/image
The UI docs moved to a new site. We need to set up redirects.

[2022-10-12 06:56] rachelnabors commented on #4603
We've got a tutorial edit that I hope will clarify this! Will update here as soon as it launches

[2022-10-12 07:03] rachelnabors commented on #4609
We've got an update to the tutorial coming. If @BillAtTCT doesn't return with more details before we merge it in, we'll assume the issue is resolved and close

[2022-10-12 07:04] rachelnabors commented on #4581
I'm going to assume that thumbs up was a yes and close :)

[2022-10-12 07:04] #4581 closed

[2022-10-12 07:08] rachelnabors commented on #4550
@chrisbonifacio can you link to where this was transferred to and close the issue? Thanks!

[2022-10-12 07:15] rachelnabors commented on #4534
It's been a month, so I'll assume this link helped!

[2022-10-12 07:15] #4534 closed

[2022-10-12 07:19] rachelnabors commented on #4542
We're removing this guide in the near future, I'm afraid.

[2022-10-12 07:19] #4542 closed

[2022-10-12 07:29] rachelnabors commented on #4376
Between updating this tutorial and @artidata's thumbs up, I am considering this issue closed!

[2022-10-12 07:29] #4376 closed

[2022-10-12 07:39] rachelnabors commented on #4502
@alistairholmes @salihgueler I love this enthusiasm! Please file a PR with this new section for the Flutter docs. You can reference the use of Amplify Libraries to add authentication vs the Next or React docs which use Amplify UI.

Meanwhile, @westr33, I believe an upcoming update to the tutorials will answer this problem for you. I'll update this here when they are all live!

[2022-10-12 07:41] rachelnabors commented on #3149
We're removing Ionic from the tutorials, so closing this out

[2022-10-12 07:41] #3149 closed

[2022-10-12 07:45] rachelnabors commented on #3446
We're planning to merge CLI and Studio docs with Guides docs in the future, thus solving this problem. Will close when we get to integrations

[2022-10-12 09:59] haseeb-xd commented on #4693
i wanna work on this

[2022-10-12 14:51] siegerts commented on #4603
ref - https://github.com/aws-amplify/docs/pull/4676

[2022-10-12 16:16] annemano commented on #4667
Hi!

_Disclaimer: I'm a junior dev, and new to contributing to open source in general_

I know that prism.js has a [line-highlight plugin](https://prismjs.com/plugins/line-highlight/), but it would require a refactor of all instances where you are using `diff` codeblocks, and I am personally not sure how to implement the plugin in Next.js. Someone else with experience could do it, though!

Otherwi

[2022-10-12 21:24] BillAtTCT commented on #4609
Think it's resolved. Too many other issues dince then.

[2022-10-12 21:29] emmby commented on #1936
I too am unclear on how to use my api keys. The https://docs.amplify.aws/lib/graphqlapi/authz/q/platform/js link provided by @swaminator does not discuss API keys.

[2022-10-12 22:01] emmby opened #4695 "API (GRAPHQL) Getting started Tutorial for JS does not work as written, "No credentials""
Following the turorial instructions here: https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/js/

1. I followed the prerequisites to Install, configure and init an Amplify project
2. I ran `amplify add api`
3. I ran `amplify push`
4. I ran `npm install aws-amplify` and added the code to my app:
[code]
    import { API, graphqlOperation } from 'aws-amplify';
    import { createTodo,

[2022-10-13 01:00] emmby commented on #4695
User error.

I glossed over one detail in my description. Because I'm using typescript, I was unable to import the aws-exports.js file directly and I used the following instead:
[code]
This of course did not work as expected. Changing it to the following fixed the problem:
[code]

[2022-10-13 01:00] #4695 closed

[2022-10-13 09:56] FidalgoMonica commented on #4691
I will grab this one if you don't mind! Thanks :)

[2022-10-13 10:01] MonicaFidalgo commented on #4691
I will work on this one if you don't mind! Thanks :)

[2022-10-13 16:38] rachelnabors commented on #4691
Go for it!

[2022-10-13 21:10] abdallahshaban557 opened #4700 "Add documentation for Analytics/Notifications on re-using an existing Pinpoint resource without using the CLI"
**Is your feature request related to a problem? Please describe.**
Customers that want to add Pinpoint as an existing resource for Analytics/Notification categories to be used with the Amplify libraries do not have documentation on these steps.

**Describe the solution you'd like**
Provide documentation on using existing resources for Analytics/Notification categories.

[2022-10-14 13:45] sebsto opened #4702 "Minimum list of IAM permissions is incorrect"
**Describe the bug**
The list of minimum IAM permissions to use Amplify CLI is incorrect.
Here is the link to documentation page https://docs.amplify.aws/cli/reference/iam/

It used to work 2 years ago, but current version of Amplify CLI uses two additional AWS APIs that are not documented by the URL above.

Missing permissions are

[code]

**To Reproduce**
- Create an IAM Role with the documented

[2022-10-15 07:39] YuriDevAT commented on #4692
Hi @rachelnabors. I would love to work on the issue.

[2022-10-15 07:39] YuriDevAT commented on #4693
Hey  @rachelnabors I would love to work on this issue.

[2022-10-15 14:16] Rishav-12 commented on #4702
The change has to be made in https://github.com/aws-amplify/docs/blob/main/src/pages/cli/reference/iam.mdx, am I right?

[2022-10-15 16:05] sebsto commented on #4702
@Rishav-12 if that page is the source for https://docs.amplify.aws/cli/reference/iam/, then yes you are correct.
From what I see, it looks like it is the source for this documentation page, but your are the doc expert :-)

[2022-10-17 16:56] chrisbonifacio commented on #4550
Closing as this has been addressed by https://github.com/aws-amplify/amplify-js/pull/10464

[2022-10-17 16:56] #4550 closed

[2022-10-17 21:47] siegerts commented on #4609
@BillAtTCT , is there anything else that we can help with? Are you still hitting some issues?

[2022-10-17 22:11] BillAtTCT commented on #4609
Yes, just posted this in Stackoverfloe…

javascript - Vue - calling REST API from js file - Stack Overflow <https://stackoverflow.com/questions/74103752/vue-calling-rest-api-from-js-file>

From: siegerts ***@***.***
Sent: Monday, October 17, 2022 4:48 PM
To: aws-amplify/docs
Cc: BillAtTCT; Mention
Subject: Re: [aws-amplify/docs] Vue Authentication Tutorial Fail (Issue #4609)

@BillAtTCT <https://g

[2022-10-17 22:54] abdallahshaban557 commented on #4632
Hi @lien-dkseo  - the `_version` field is needed if you are using Datastore. Are you using Datastore or just GraphQL in your app?

[2022-10-17 22:59] abdallahshaban557 commented on #4477
This is further elaborated on in this section https://docs.amplify.aws/start/getting-started/add-api/q/integration/flutter/#add-api-and-auth-plugins

[2022-10-17 22:59] #4477 closed

[2022-10-18 03:40] AmirNaghibi commented on #4468
@siegerts could you please take a look at my PR?

[2022-10-18 03:49] AmirNaghibi commented on #4693
@rachelnabors could you link a page in the documentation where an emoji is used?

[2022-10-18 11:59] sbbailey opened #4716 "[Feedback]FEEDBACK_TITLE_HERE"
**Page**: [`/lib/project-setup/create-application/q/platform/[platform]`](https://docs.amplify.aws/lib/project-setup/create-application/q/platform/flutter)

**Feedback**:

Ive been on AWS for 10 years and I love it. But more and more I have to look to google cloud. I do the docs and walkthrough for Flutter, then Firebase and not one issue. I follow the docs and examples and everything works no iss

[2022-10-20 07:27] rachelnabors commented on #4609
We just launched the new version here: https://docs.amplify.aws/start/getting-started/data-model/q/integration/vue/

Does this help?

[2022-10-20 11:49] eypk opened #4724 "[missing-page]"
**Page**: [`https://docs.amplify.aws/start/q/integration/react-native/%3Fsc_icampaign=react-start

[2022-10-20 11:50] #4724 closed

[2022-10-20 14:02] sebsto commented on #4702
as I am adding more plugins to my project, I discover new permissions missing.

To use DataStore, the policy also need the following permissions:

[code]

[2022-10-20 15:56] markwharton opened #4726 "[missing-page]"
**Page**: [`https://docs.amplify.aws/lib/devpreview/getting-started/q/platform/android/`](https://docs.amplify.aws/lib/devpreview/getting-started/q/platform/android/)

**Feedback**:
Coming from the [Getting Started guide here](https://docs.amplify.aws/lib/devpreview/getting-started/q/platform/android/) link on the https://aws.amazon.com/about-aws/whats-new/2022/05/amplify-android-library-developer

[2022-10-20 18:41] dengdan154 opened #4729 "? getting encoded as %3F"
**Describe the bug**
A clear and concise description of what the bug is.
Getting a 404 page not found exception because the ? in URL link is getting encoded to %3F

**To Reproduce**
Steps to reproduce the behavior:

Go to https://docs.amplify.aws/
Select the Swift icon (Or any other icon) below “Get Started for Free”
Now, select the platform picker and choose “Android” (Or any other icon)
It says

[2022-10-20 19:49] #4729 closed, assigned to nobody

[2022-10-20 20:50] rachelnabors commented on #4502
Should be addressed with https://github.com/aws-amplify/docs/pull/4676

Does this help, @westr33 ? https://docs.amplify.aws/start/getting-started/auth/q/integration/react/#create-login-ui

[2022-10-20 20:51] rachelnabors commented on #4603
Does this help, @tannerabread ? https://docs.amplify.aws/start/getting-started/auth/q/integration/react/#create-login-ui

[2022-10-20 21:59] rachelnabors opened #4732 "Add secondary nav to docs home page"
As a person new to Amplify or returning to the docs for reference material, I would like to be able to quickly navigate to Guides, CLI, etc from the landing page at docs.amplify.aws. But that page doesn't have the navigation bar to those things:

<img width="1209" alt="Screen Shot 2022-10-20 at 2 56 51 PM" src="https://user-images.githubusercontent.com/236306/197066960-4862733e-2d43-4ad8-adf7-e788

[2022-10-21 04:59] lseidman opened #4734 "[Feedback] Amplify.Publisher call is getting an error"
**Page**: [`/guides/api-graphql/subscriptions-by-id/q/platform/[platform]`](https://docs.amplify.aws/guides/api-graphql/subscriptions-by-id/q/platform/ios)

**Feedback**:

In the final block of code on line 6 (in the Combine tab), it says the following:

`cancellable = Amplify.Publisher.create(sequence)`

This is causing the following error for me:

I checked the Amplify class, and I am not seeing

[2022-10-21 08:31] #4214 closed

[2022-10-21 12:02] Rishav-12 commented on #4702
But these are already present on lines 134 and 126 in the json example
![screenshot-of-iam-policy-json](https://user-images.githubusercontent.com/76068105/197191081-6e9ed5ee-59c9-4291-9a37-544bcd871865.png)

[2022-10-21 13:34] sebsto commented on #4702
Great - they were not present on mine, but I had a snapshot from 2019

[2022-10-21 22:32] #4603 closed

[2022-10-21 22:32] #4502 closed

[2022-10-21 22:33] rachelnabors commented on #2495
@Kamran21 We recently updated the Getting Started docs for React Native. Does this help? https://docs.amplify.aws/start/getting-started/installation/q/integration/react-native/

[2022-10-21 22:33] #2495 closed

[2022-10-21 23:26] katiegoines commented on #4693
Hi! Here is an example of a page that includes an emoji: https://docs.amplify.aws/start/getting-started/nextsteps/q/integration/react/

[2022-10-21 23:51] #4691 closed

[2022-10-22 00:18] rachelnabors commented on #4693
This one will be a little tough because there are many emojis in the world!

[2022-10-22 00:18] rachelnabors commented on #4692
@NizarAhamed97 Please go ahead and do so

[2022-10-22 00:19] katiegoines commented on #4691
This has been closed out with #4709. Thanks for your help @MonicaFidalgo!

[2022-10-23 02:41] asangamanage opened #4741 "[Feedback]FEEDBACK_TITLE_HERE"
**Page**: [`/start/getting-started/data-model/q/integration/[integration]`](https://docs.amplify.aws/start/getting-started/data-model/q/integration/next)

**Feedback**:

Couldn't complete the steps due to errors.

[2022-10-24 00:34] lien-dkseo commented on #4632
Hi~ @abdallahshaban557

using graphql

and.

https://docs.amplify.aws/lib/graphqlapi/mutate-data/q/platform/flutter/
examples is not working.

thankyou~

[2022-10-24 00:37] paulpacaud opened #4743 ""Connect API and database to the app" part"
**Page**: [`/start/getting-started/data-model/q/integration/[integration]`](https://docs.amplify.aws/start/getting-started/data-model/q/integration/angular)

**Feedback**:

When we follow the tutorial in this part, at the end we just get the following errors:

Error: src/app/restaurants/restaurants.component.ts:35:61 - error TS2339: Property 'subscribe' does not exist on type '(filter?: ModelSubsc

[2022-10-24 00:54] #4741 closed

[2022-10-24 03:20] gmako6 opened #4744 "Filed not found in a filed table"
So I was pushing a local updated schema and unfortunately failed to give this information

? Are you sure you want to continue? Yes
🛑 user2ID is not a field in Match

This is the code and the error I got
<img width="716" alt="Screen Shot 2022-10-24 at 6 12 57 AM" src="https://user-images.githubusercontent.com/37672372/197442035-3484ce6c-d85a-4a9c-a62f-c7c439b7973c.png">

and here I the scheme I cr

[2022-10-24 18:35] tjleing commented on #4548
@umerk44 Judging based on the error messages (`npm ERR!: ... routines:ssl3_get_key_exchange:bad signature`), it seems like that may be an issue with your installation of NPM and nothing to do with Amplify or AppSync.  Please check the steps in [this StackOverflow post](https://stackoverflow.com/questions/62178866/npm-install-fails-with-bad-signature-error-on-windows) and let us know if you are sti

[2022-10-24 22:55] abdallahshaban557 commented on #4743
Hello @paulpacaud  - can you please paste the end result of your app.component.ts file here?

Also - which version of the Amplify library are you using? you can check that from your package.json file

[2022-10-25 02:58] gurkarangulati opened #4746 "[Feedback]Please update for Amplify 2.0.0"
**Page**: [`/sdk/push-notifications/getting-started/q/platform/[platform]`](https://docs.amplify.aws/sdk/push-notifications/getting-started/q/platform/ios)

**Feedback**:

[code]

[code]

[code]

These lines of code don't work anymore after upgrading to Amplify 2.0.0 I would really appreciate if we can update the example provided by the newly released Amplify 2.0.0. Super excited for the updates!

[2022-10-25 06:37] Jqdmarku opened #4747 "Getting an error trying to import AmplifyAuthenticateModule using Angular 14."
**Page**: [`/start/getting-started/setup/q/integration/[integration]`](https://docs.amplify.aws/start/getting-started/setup/q/integration/angular)

**Feedback**:

Getting an error trying to import AmplifyAuthenticateModule using Angular 14.

(alias) class AmplifyAuthenticatorModule
import AmplifyAuthenticatorModule
'AmplifyAuthenticatorModule' does not appear to be an NgModule class.(-996002)
auth

[2022-10-25 07:46] #4747 closed

[2022-10-25 08:34] maxiaodegithub opened #4748 "When registering to get the verification code for verification, the mobile phone number is entered incorrectly. What should I do if I cannot get the verification code?"
**Page**: [`/lib/auth/sms_flows/q/platform/[platform]`](https://docs.amplify.aws/lib/auth/sms_flows/q/platform/flutter)

**Feedback**:
When registering to get the verification code for verification, the mobile phone number is entered incorrectly. What should I do if I cannot get the verification code?
When the user entered the wrong mobile phone number during registration, the verification code co

[2022-10-25 09:44] iskandar47 commented on #565
Now i'm realizing that Amplify is just a disaster .

[2022-10-26 02:28] abdallahshaban557 commented on #4408
This has now been addressed!

[2022-10-26 02:28] #4408 closed

[2022-10-27 15:21] sobolk commented on #4523
`amplify-cli-export-construct` has been updated to support CDK v2.

[2022-10-27 15:21] #4523 closed

[2022-10-27 15:24] calebpollman opened #4755 "`withAuthenticator` missing native dependency documentation"
**Describe the bug**
[The documentation for the `withAuthenticator` HOC](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react-native/) is missing dependency install and configuration steps required for adding required dependencies with native code.

**To Reproduce**
NA

**Expected behavior**
Documentation should include an install script for the aforementioned dependencies:
[code]

And

[2022-10-27 16:49] rcp522 opened #4756 "[Feedback] Inconsistencies in components use to render HTML tags"
**Page**: [`/start/getting-started/auth/q/integration/[integration]`](https://docs.amplify.aws/start/getting-started/auth/q/integration/react)

**Feedback**:

With React you want to componentize as much as possible to increase applications re-render performance. I can see that the Amplify UI does have Components such as Button, View, Text which can be used instead of button, div and p tags in html

[2022-10-27 20:06] rachelnabors commented on #4336
Hey hey, we addressed this in this PR: https://github.com/aws-amplify/amplify-js/pull/10471 Thanks so much for your feedback!!

[2022-10-27 20:06] #4336 closed

[2022-10-27 20:47] odafeaggreh opened #4758 "[missing-page]"
**Page**: [`https://docs.amplify.aws/lib/graphqlapi/create-or-re-use-existing-backend/q/platform/js/

[2022-10-28 07:00] oscarcao commented on #4732
I'll look into this first issue.

[2022-10-29 17:53] Safadurimo commented on #4432
I ran into the exact same issue. @vimode , Go ahead and fix that!

[2022-10-30 10:50] vimode commented on #4432
@Safadurimo Thanks for alerting it.
I am still waiting on someone from the team to assign me or at least give me a go ahead that this indeed needs to be updated.

[2022-10-31 10:05] Lorenzohidalgo commented on #4693
PR ready, @rachelnabors let me know if there are any other emojis I've missed.

[2022-10-31 11:43] Lorenzohidalgo commented on #4692
PR ready, @rachelnabors let me know if there is any issue with my changes. I've also added two proposed change to the PR description, let me know if you want me to implement it in the same PR 😉

[2022-10-31 16:38] tjleing commented on #4548
Closing this issue, please let us know if you have further questions by opening a new issue.

[2022-10-31 20:37] bleirdalag opened #4771 "[Feedback] Running 'amplify add api' does not set up Cognito Auth as described in docs"
**Page**: [`/start/getting-started/data-model/q/integration/[integration]`](https://docs.amplify.aws/start/getting-started/data-model/q/integration/next)

**Feedback**:

Running 'amplify add api' does not give the output in the docs.

Here is the output I got to console after running `amplify add api` while going through this tutorial:

[code]

[2022-10-31 20:38] abdallahshaban557 commented on #4771
Hi @bleirdalag  - you should be able to have Auth setup if you select Cognito User pools as an authorization mode when setting up API. Did you select that from the CLI flow?

[2022-10-31 20:45] bleirdalag commented on #4771
I did not see any option to select and authorization mode when setting up the API

[2022-10-31 20:48] bleirdalag commented on #4771
Here is the output I got to console after running `amplify add api` while going through this tutorial:

[code]

[2022-10-31 20:49] bleirdalag commented on #4771
Ah, I see the problem -- I needed to select a setting to edit. This was unclear to me going through the tutorial and I went with the default choice of continuing without editing settings :(

[2022-10-31 22:33] abdallahshaban557 commented on #4632
Hi @lien-dkseo  - what is not working exactly? can you please paste your schema and your API call here for us to examine?

[2022-11-02 00:20] #4690 closed

[2022-11-02 01:45] #4693 closed

[2022-11-02 01:48] #4692 closed

[2022-11-03 16:53] Tenock commented on #4743
I am also having this issue. I'm currently using zen-observable-ts 0.8.21

Which version is compatible with Amplify? I've done a fresh npm install with no success.

[2022-11-03 23:11] tjleing opened #4779 "v1/v2 switcher query-string parameter bug"
**Describe the bug**
discovered with @timngyn.
when loading pages with QSP (i.e. entering the URL into the browser or clicking a link, not scrolling), /lib/ v1/v2 switcher goes to the wrong URL.

**To Reproduce**
1. go to https://docs.amplify.aws/lib-v1/analytics/record/q/platform/ios/#flush-events
2. click v2 switcher
3. goes to /lib/q/platform/ios/#flush-events instead of /lib/analytics/record/q

[2022-11-04 17:23] TE-RobertMcCain opened #4781 "[missing-page] What happened to the Ionic documentation"
**Page**: [`https://docs.amplify.aws/start/getting-started/hosting/q/integration/ionic/

[2022-11-04 18:10] abdallahshaban557 commented on #4781
Hi @TE-RobertMcCain  - we removed the guide since it was outdated and we did not have customers asking us for updates on it. Would you be interested in contributing to an updated tutorial for using Amplify with Ionic?

[2022-11-04 18:29] #4732 closed

[2022-11-06 15:41] TE-RobertMcCain commented on #4781
Hello @abdallahshaban557 . Thank you for your reply.

You mentioned that the documentation is outdated. Are there updated materials or is Amplify removing support for ionic? I

I am not sure that I have the expertise to create a tutorial for Amplify. I have just started creating an Ionic/Amplify project and noticed that the documentation no longer exists. Can I make a request to have the documenta

[2022-11-08 01:10] lien-dkseo commented on #4632
hi @abdallahshaban557

no update with this code
[code]
![image](https://user-images.githubusercontent.com/91306431/200449266-f2d679d8-b54d-484e-bd13-452c14583da1.png)
https://docs.amplify.aws/lib/graphqlapi/mutate-data/q/platform/flutter/

[2022-11-08 07:45] siegerts commented on #4758
Hi @odafeaggreh , thanks for raising. Do you remember what page that link was on?

[2022-11-08 07:47] siegerts commented on #4756
Hi @rcp522, thanks for opening. There is an extra section, https://docs.amplify.aws/start/getting-started/auth/q/integration/react/#bonus-use-amplify-ui-primitives, that swaps out rest of the native tags for the Amplify primitives in that example. Does that help?

cc @rachelnabors

[2022-11-08 08:03] rcp522 commented on #4756
Hi @siegerts Yes it does. I would also suggest replacing the `div` tags with `View` tags

[2022-11-08 14:09] rachelnabors commented on #4756
What a great idea! If you create a PR to do that, we will merge it in!

[2022-11-08 20:44] abdallahshaban557 commented on #4781
We are slimming down our tutorials section so we can ensure the tutorials we do maintain stay up to date and support the same components as Amplify UI. You can still use Ionic and Amplify together. Try following the React JS tutorial with Ionic. Or check YouTube for more in depth tutorials.

https://www.youtube.com/watch?v=5eq_UiLyymk

[2022-11-09 11:49] anandakumarans commented on #4026
Hi @ryanash999  - Can you please share the App.js file?

[2022-11-09 16:08] hanchhanch opened #4803 "[Feedback]Recommendation unclear"
**Page**: [`/lib/restapi/getting-started/q/platform/[platform]`](https://docs.amplify.aws/lib/restapi/getting-started/q/platform/js)

**Feedback**:

Regarding the box at the bottom "THIS IS NOT A RECOMMENDED ARCHITECTURE", it's not clear whether the recommendation refers to the last instruction or the entire page.

[2022-11-09 17:21] TE-RobertMcCain commented on #4781
Hi @abdallahshaban557. Thank you for the update!

ok so it sounds like the Ionic documentation will not be returning unless someone from the user community creates it.

And yes there are many unofficial resources to help with creating Ionic/Amplify apps but the official documentation I think was the most helpful. Can you make the ionic documentation available for download even if it is deprecated?

[2022-11-09 21:43] BrantDesu commented on #4743
Same problem here, did what you suggested with no success...
Here is a workaround using the `graphql/subscriptions.graphql` file as shown in the [docs](https://docs.amplify.aws/lib/graphqlapi/subscribe-data/q/platform/js/)

[code]
Then, everytime you create a new `restaurant`, the data will be stored inside the `value` variable:

![image](https://user-images.githubusercontent.com/21161232/20094689

[2022-11-10 03:09] rachelnabors commented on #4432
You don't have to ask for permission to submit a PR! Go for it, @vimode <3

[2022-11-10 04:33] vimode commented on #4432
@rachelnabors  I misunderstood the guidelines of contributing, I mistook *mention you are working on the issue* as I need permission from maintainers.

Thank you for clarifying that.

As I see now, most of it is fixed in PR #4676
So my PR updates only the one that was missed.

[2022-11-12 14:32] alexlevy0 opened #4830 "[missing-page]"
**Page**: [`https://docs.amplify.aws/start/getting-started/auth/q/integration/lib/auth/getting-started/q/platform/js/`](https://docs.amplify.aws/start/getting-started/auth/q/integration/lib/auth/getting-started/q/platform/js/)

**Feedback**:

[2022-11-13 08:03] siegerts commented on #4830
Hi @alexlevy0, thanks for raising. Do you remember what page this link was on? The correct url is https://docs.amplify.aws/lib/auth/getting-started/q/platform/js/.

[2022-11-14 00:32] timurxyz opened #4832 "[Feedback] Error with code block for Android example, Redirect URI's section"
**Page**: [`/lib/auth/social/q/platform/[platform]`](https://docs.amplify.aws/lib/auth/social/q/platform/react-native)

**Feedback**:

'Redirect URIs' section.
"Set the launchMode of MainActivity to singleTask" says the instruction while AndroidManifest.xml code example has
[code]

* singleInstance > singleTask maybe!

should be:
[code]

[2022-11-14 14:12] abdallahshaban557 commented on #4632
Hi @lien-dkseo - so did you build the Todo schema, and then try to use an update and it didn't work? I tried following the steps in our docs and it worked for me. The _version field is needed only if you enable conflict detection and use the Datastore category. If you do not, then you don't need it.

[2022-11-14 17:29] ykethan commented on #4232
closing the issue as this page has been deprecated.

[2022-11-14 17:29] #4232 closed

[2022-11-14 17:31] ykethan commented on #4702
Hey @sebsto, thank you for the information. The page has been removed in favor of https://docs.aws.amazon.com/amplify/latest/userguide/security-iam-awsmanpol.html#security-iam-awsmanpol-AdministratorAccess-Amplify
the page provides the updated updated policy information.

[2022-11-14 17:31] #4702 closed

[2022-11-14 19:27] nadetastic commented on #4803
Hi @hanchhanch the notice refers to the last section where endpoint is set to Lambda function URL(invoking it directly), instead of leveraging AWS AppSync or API Gateway as the endpoint to invoke the Lambda function.

In short, you want to place a proxy between the client and the Lambda function, such as API Gateway.

[2022-11-14 20:48] cguajard opened #4837 "[Feedback]Typo on page"
**Page**: [`/lib/storage/upload/q/platform/[platform]`](https://docs.amplify.aws/lib/storage/upload/q/platform/js)

**Feedback**:

Think this is a typo on this page:
If a file extension is not provided in the key of the uploaded object, the S3 console's 'Type' field will be **emitted**.

I think that should probably be "omitted" vs "emitted"

[2022-11-14 21:20] abdallahshaban557 commented on #4837
Will be addressed when this PR is merged  https://github.com/aws-amplify/docs/pull/4836#pullrequestreview-1179802972

[2022-11-15 07:24] hanchhanch commented on #4803
Makes sense. I just suggested to make it clear on the page.
Thanks

[2022-11-15 07:24] #4803 closed

[2022-11-15 14:34] nadetastic commented on #3870
Hi @kenmckaba @santhotech previously, the guide showed to import Amplify from the default export, however that has now been deprecated, and you would need to import from named export as the updated guide shows.
[code]
Further, I haven't been able to reproduce this issue. Are you still facing this issue? If so, we may need to transfer this to the relevant repo.

[2022-11-15 14:47] nadetastic commented on #4803
Got it @hanchhanch will clarify

[2022-11-15 15:13] ykethan opened #4846 "Document Amplify CDK functionality limitations"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The document currently provides information on on how to use CDK in Amplify via override and custom. But does not properly document CDK limitations when using the functionalities.
Ex: usage of assets in Amplify CDK and utilizing outputs gen

[2022-11-15 15:20] TE-RobertMcCain commented on #4781
Hi @abdallahshaban557. Just wanted to check again to see if the Ionic/Amplify documentation can be made available for download.

[2022-11-15 17:33] #4249 closed

[2022-11-15 19:49] abdallahshaban557 commented on #4781
Hi @TE-RobertMcCain  - I've been able to locate the PR where the Ionic getting started was [removed](https://github.com/aws-amplify/docs/pull/4677) - however I am not able to find an easy way to get you that information. Would going through that PR with seeing the things removed be helpful for now?

[2022-11-16 02:08] lien-dkseo commented on #4632
Hi @abdallahshaban557 ~
`The _version field is needed only if you enable conflict detection and use the Datastore category. If you do not, then you don't need it.`
oh....
i'll check the config.
thank you.

[2022-11-16 22:33] #4837 closed

[2022-11-16 23:40] jefemagril opened #4865 "[Feedback] error during iOS getting started tutorial: [StorageEngine] - Unable to find suitable API plugin for syncEngine. syncEngine will not be started"
**Page**: [`/start/getting-started/integrate/q/integration/[integration]`](https://docs.amplify.aws/start/getting-started/integrate/q/integration/ios)

**Feedback**:

I've followed the Getting started tutorial step-by-step and everything has been working until the "Create a Todo" section where I get this error upon trying to run the code:
[code]

Was there some setup option I missed? Per the tutor

[2022-11-17 04:43] renebrandel commented on #4084
Closing this issue because it's handled by-default with the server-side subscription filtering experience. https://docs.amplify.aws/cli/graphql/data-modeling/#server-side-filtering-for-subscriptions

[2022-11-17 04:43] #4084 closed

[2022-11-17 04:45] renebrandel commented on #4507
@djsjr - can you explain your issue in more depth with some repro steps on what didn't work? As part of the GraphQL Transformer v2 launch, we enabled `@searchable` support for DataStore as well, hence the limitation was removed. Do you mind opening an issue in [API category repo](https://github.com/aws-amplify/amplify-category-api/)? Thanks

[2022-11-17 04:50] renebrandel commented on #2431
Hi - I'm closing this issue because we're deprecating the existing workflow in favor of a new experience as part of the new GraphQL Transformer. You can follow along our progress in this RFC: https://github.com/aws-amplify/amplify-category-api/issues/815

[2022-11-17 04:50] #2431 closed

[2022-11-17 17:45] tagazok commented on #1096
+💯

[2022-11-17 17:47] tagazok commented on #3182
+💯

[2022-11-18 16:26] #3557 closed

[2022-11-18 16:39] ykethan commented on #3968
Hey @lillpham, following up on this. could you provide us some additional information on what you are looking for?
Please refer to https://docs.amplify.aws/cli/graphql/client-code-generation/ providing additional information on client side code generation.

[2022-11-18 16:49] ykethan commented on #4337
Hey @aws-amplify/amplify-ios, can these documentation be updates. Is there any other place the customers can modify these values?

[2022-11-18 16:58] ykethan commented on #3972
Hey @josefaidt, this is a feature request on the Amplify CLI. Could you create a feature request in Amplify CLI repository.

[2022-11-18 17:33] ykethan commented on #3622
Closing this in favor of https://github.com/aws-amplify/docs/issues/3971. Please feel free in adding additional information on your use case to the issue.

[2022-11-18 17:33] #3622 closed

[2022-11-18 17:35] ykethan commented on #4398
Closing this in favor of https://github.com/aws-amplify/docs/issues/2110. Please feel free in adding additional information  on your use case.

[2022-11-18 17:35] #4398 closed

[2022-11-18 17:51] ykethan commented on #2996
Closing this in favor of https://github.com/aws-amplify/amplify-cli/issues/659. Please feel free in adding additional information on your use case.

[2022-11-18 17:51] #2996 closed

[2022-11-18 17:53] ykethan commented on #3099
The page has been removed in favor of [AWS managed policies](https://docs.aws.amazon.com/amplify/latest/userguide/security-iam-awsmanpol.html#security-iam-awsmanpol-AdministratorAccess-Amplify). Closing the issue.

[2022-11-18 17:53] #3099 closed

[2022-11-18 18:02] ykethan commented on #3802
Closing this in favor of feature request https://github.com/aws-amplify/amplify-cli/issues/11113 and https://github.com/aws-amplify/amplify-cli/issues/9087. Please feel free in adding your use case to the issues.

[2022-11-18 18:02] #3802 closed

[2022-11-18 19:04] #3870 closed

[2022-11-18 21:22] #4454 closed

[2022-11-20 00:47] ykethan commented on #2709
Hey, Amplify currently supports utilizing `amplify export` to export a Amplify project to CDK this would enable cross region and cross account capabilities. Please refer to https://docs.amplify.aws/cli/usage/export-to-cdk/ for additional information.
Closing the issue due to age.

[2022-11-20 00:47] #2709 closed

[2022-11-20 16:59] Etx17 commented on #4755
Up please, have the same problems

[2022-11-21 23:43] josefaidt commented on #4678
This will be fixed via https://github.com/aws-amplify/amplify-cli/issues/8097

[2022-11-22 06:28] sebsto commented on #4678
@josefaidt Thank you. But the PR you mentioned did nor progress since September 2021.

[2022-11-23 03:30] lien-dkseo commented on #4632
@abdallahshaban557
Then, datastore(enable conflict detection) and graphql(disable conflict detection) cannot be used at the same time?

[2022-11-23 04:10] wintunmmocc opened #4883 "[missing-page]"
**Page**: [`https://docs.amplify.aws/lib/in-app-messaging/prerequisites/q/platform/js/

[2022-11-23 06:12] wnrz opened #4884 "UserPoolClientLambda"
**Page**: [`https://docs.amplify.aws/cli/migration/lambda-node-version-update/`](https://docs.amplify.aws/cli/migration/lambda-node-version-update/)

**Feedback**:

[2022-11-23 18:09] rachelnabors commented on #4883
Looks like the page was removed as it was no longer required. That said, external resources may still be pointing at it. @wintunmmocc where did you find this link from?

@abdallahshaban557, can we forward this link to a more appropriate URL, like https://docs.amplify.aws/lib/in-app-messaging/getting-started/q/platform/js/ which includes a pre-reqs section?

[2022-11-23 18:46] abdallahshaban557 commented on #4632
That is correct @lien-dkseo. That is one of the most heavily requested features - but we do not have it available just yet. Please upvote this issue - we use this feedback to help us prioritize new features! https://github.com/aws-amplify/amplify-category-api/issues/179

[2022-11-23 19:32] cwomack commented on #2216
@JPVan, wanted to follow up on this issue now that there is a Vue example for DataStore integration that can be found on the following page: https://docs.amplify.aws/lib/datastore/examples/q/platform/js/#example-application.

I'll close out the issue since this was implemented in 2021. Please let us know if you have more feedback on the Vue docs tied to this.

[2022-11-23 19:32] #2216 closed

[2022-11-23 19:57] cwomack commented on #4771
@bleirdalag, there was a recent PR to update the Next.js docs that provides more examples of the CLI output.  I'll close this issue down, but feel free to comment back if you have any additional feedback to improve the examples further.

[2022-11-23 19:57] #4771 closed

[2022-11-23 20:13] cwomack commented on #4830
@alexlevy0, just wanted to follow up on this to see if we can find where that 404 yielding link came from.  Do you know where you found it in the docs?

[2022-11-23 20:25] cwomack commented on #4758
Closing this issue out since PR #4829 fixes the link.

[2022-11-23 20:25] #4758 closed

[2022-11-23 20:35] nadetastic commented on #4513
Hi @ksbains following up on this. The access levels are currently explained under `File access levels` section under each library. For example this link is for JS library - https://docs.amplify.aws/lib/storage/configureaccess/q/platform/js/

I'll go ahead and close this out, but feel free to update this issue.

[2022-11-23 20:35] #4513 closed

[2022-11-24 01:18] lien-dkseo commented on #4632
thank you~ @abdallahshaban557

https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/flutter/#configure-api
[code]

[2022-11-24 01:18] #4632 closed

[2022-11-25 21:34] cwomack commented on #4756
Merged #4800 for update to docs to resolve this issue with community submission from @rcp522.  We appreciate your submission and I will will close this issue out now!

[2022-11-25 21:34] #4756 closed

[2022-11-28 20:19] tannerabread opened #4895 "JS/RN Troubleshooting TypeScript Strict Mode"
**Describe the bug**
The first link on the page for troubleshooting TypeScript Strict Mode
This shows up in the JavaScript picker and the React Native picker, I suspect they are using the same fragment for the troubleshooting page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.amplify.aws/lib/troubleshooting/strict-mode/q/platform/js/
2. Click on `strict mode` in the firs

[2022-11-29 09:53] rajatdhoot123 opened #4896 "SSL cert Path"
There is no document for the path of the SSL certificate.

My app is hosted on amplify trying to connect with serverless DB https://planetscale.com but it required a path for cert which I am not able to find it how can we get certificate or is there any other way to connect to planetscale db

[2022-11-29 16:23] chrisbonifacio commented on #2460
Closing this issue as we now support custom primary and composite keys in DataStore. We've also since upgraded our graphql transformer to support more intuitive directives such as `@primaryKey`, `@index`, `@hasOne`, `@hasMany`, etc. Please upgrade to the latest versions of the Amplify CLI and Amplify JS library to use these features.

[2022-11-29 16:23] #2460 closed

[2022-11-29 16:24] cwomack commented on #3900
Hey @jessebarnum 👋.  Sorry for the delayed response to this, but can you clarify how you're looking to use the AWS-SDK in order to best help you here?

[2022-11-29 16:46] nadetastic commented on #3865
Hi @DylanBruzenak 👋,

The reason for this setup is each guide has sections that are relevant to the library/tool. In addition to the CLI and JS guides, the other libraries such as Swift and Android etc also have the same setup. In order to use Amplify as a whole, you would need to reference each guide for specifics.

We appreciate the feedback, and if you have additional comments please let us kno

[2022-11-29 16:46] #3865 closed

[2022-11-29 17:07] nadetastic commented on #2594
Closing this out as the docs have had some updates since this issue was opened. Currently the guide at [1] shows how you can do this.

[1] https://docs.amplify.aws/start/getting-started/setup/q/integration/js/

[2022-11-29 17:07] #2594 closed

[2022-11-29 18:26] nadetastic commented on #2586
Closing out as the docs currently state the policy is for the Auth and UnAuth roles not Bucket policy.

[2022-11-29 18:26] #2586 closed

[2022-11-29 18:34] nadetastic commented on #4491
Hi @rcp522  👋, previously there was a limitation with Amplify hosting and Next JS support. Although this had not been in the _Amplify docs_, it has been mentioned in the _AWS Amplify docs_ at - https://docs.aws.amazon.com/amplify/latest/userguide/ssr-Amplify-support.html

As of today, Amplify does support the latest version of Next JS.

For future limitations, I will discuss with the team to also

[2022-11-29 18:34] #4491 closed

[2022-11-29 18:42] #4432 closed

[2022-11-29 19:44] nadetastic commented on #3587
Hi @khacminh the docs were recently updated with this PR https://github.com/aws-amplify/docs/pull/4731

I'll go ahead and close out this issue. Let me know if you have any questions.

[2022-11-29 19:44] #3587 closed

[2022-11-30 05:58] TE-RobertMcCain commented on #4781
Hi @abdallahshaban557 . I am so sorry for my late reply. It might be helpful to see what was removed but for me as a user of the content and not necessarily a content editor I think it might be difficult for me to make use of it in this form. Would it be possible for me to download the content somehow before the pull request to remove it and then build it locally?

[2022-11-30 15:26] tlongo1226 opened #4899 "[missing-page] Prerequisites"
[Prerequisites](https://docs.amplify.aws/start/getting-started/setup/q/integration/android/q/integration/android/#prerequisites) page which is linked on this [page](https://docs.amplify.aws/start/sample-apps/todo-app/q/integration/android/) seems to be incorrect.

[2022-11-30 17:20] #4678 closed

[2022-11-30 19:00] #3968 closed

[2022-11-30 19:30] josefaidt commented on #4202
Closing as examples have been updated to use `fetch` and aws-sdk v3

[2022-11-30 19:30] #4202 closed

[2022-11-30 20:09] tannerabread opened #4902 "Missing `amplify init` instructions in RN project setup"
**Describe the bug**
In the `project setup` for [React Native under the libraries tab](https://docs.amplify.aws/lib/project-setup/create-application/q/platform/react-native/), there is no mention about initializing an amplify project with `amplify init`.  If a user follows the Project Setup guide and then tries to use a category, they will not have an Amplify project set up and will get errors abo

[2022-11-30 20:44] rachelnabors commented on #4781
You should be able to see an older version of the site using https://archive.org/

[2022-11-30 20:47] rachelnabors commented on #4781
Try this: https://web.archive.org/web/20220526141035/https://docs.amplify.aws/start/q/integration/ionic/

[2022-11-30 21:46] tannerabread opened #4903 "Improper file references when initializing projects"
**Describe the bug**
The `Configure your application` sections for React Native have incorrect/inconsistent app entry points
The entry point for React Native CLI is `index.js` and for Expo it is `App.js`

Another thing to add is that each of these sections also imports the named category when that shouldn't be necessary for configuring Amplify and some of them tell you to `npm install aws-amplify`